{% extends "deobfuscate/new_base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<!-- <div class="inline-div"> -->
<div class="col-md-6">
<h2> Input Javascript here: </h2>
<form action="{% url 'deobfuscate:get_js'  %}" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input class = 'btn-primary pull-right' type="submit" value="Submit" />
</form>
</div>


<div class="col-md-6">
<h2>The Deobfuscated Javascript: </h2>
<textarea class="inline-txtarea textarea form-control" cols="40" id="id_in_text" name="in_text" rows="10">
{{ out_text }}
</textarea>
</div>
{% endblock %}
